extends layout.pug

block content
  article.grid-container.portfolio-intro.portfolio-project
    nav.grid-container.portfolio-breadcrumb
      a(href='/') ← Back
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 About me

        .portfolio-bio
          p
            | Highly motivated and skilled Full Stack developer, with proficiency in e-commerce and responsive web applications. Able to grasp new concepts quickly and efficiently, with strong analytical and problem-solving skills, and a passion for writing organised and concise code.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li Linux
          li AWS
          li PHP
          li Laravel
          li Magento 2
          li SQL
          li JavaScript
          li jQuery
          li Node.js
          li Express
        h6 Contact Info

        ul
          li filipe.carrano@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/filcp' target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/filcp' target="_blank") GitHub
        a.button.expanded(href='https://twitter.com/filcp' target="_blank") Twitter
    nav.grid-container.portfolio-breadcrumb
      a(href='/') ← Back